.banner {
    position: relative;
    max-width: 2300px;
    margin-left: auto;
    margin-right: auto;
}

.banner__img {
    width: 100%;
    z-index: -1;
    margin-bottom: -250px;
}

@media (max-width: 900px) {
  .banner {
    display: None;
  }
}
