.home {
  max-width: 2300px;
  margin-left: auto;
  margin-right: auto;
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 960px) {
  .home__row {
    flex-direction: column;
    width: 90%;
    padding: 0;
  }
}

